#demo{
    margin-top:1px;
    
}
#per{
    border: 1px solid black;
    height: 450px;
 width: 1000px; 
 padding: 50px; 
 background-color: rgba(216, 156, 233, 0.34); 
}
#temp{
    border: 1px solid black;
    height:650px;
 width: 1000px; 
 padding: 50px; 
 background-color: rgba(9, 152, 229, 0.34); 
}
#educate{
    border: 1px solid black;
    height:950px;
 width: 1000px; 
 padding: 50px; 
 background-color: rgba(245, 36, 164, 0.34); 
}
#upload{
    border: 1px solid black;
    height:320px;
 width: 1000px; 
 padding: 50px; 
 background-color: rgba(36, 245, 46, 0.34); 
}
#sub {
    margin-top:5px;
    margin-bottom:5px;
    padding-left:750px
}